body{
	margin: 0;
	font-family: 'Helvetica,' 'Arial', sans-serif;
	font-size: 20px;
	line-height: 30px;
}
header{
	background-color:#D96A54 ;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 1px;
}
h1,h2,h4{
	font-family: 'Dela Gothic One', cursive;
}

header h1{
	color: whitesmoke;
	font-size: 75px;
}

header img{
	border-radius: 150px;
	border: 12px solid #45076E  ;
	width: 350px;
}

main{
	max-width: 1903px;
	text-align: center;
}
main img{
	max-width: 100%;
}
h2{
	font-size: 45px;
	color: #F23E3E;
	margin: 40px 0 10px;

}
a{
	color: #F23E3E;
}
a:hover{
	color: whitesmoke;
}
h4{
	font-size: 45px;
	color:#F23E3E ;
	padding-bottom: 0px;
}

footer{
	background-color:#D96A54 ;
	text-align: center;
	color: white;
	padding: 50px;
	}
	foter p{
		margin: 0;
	}
footer a{
	color: whitesmoke;
}
footer a:hover{
	opacity: .5;
	background-color: transparent ;
}

p.caption{
	color:#999999;
}
p.caption{
    position: relative;
    left: -270px;
    font-style: italic;
    margin-top: 0;
}

a.mamma:hover{
opacity: .5;
color: grey;
}

a.pappa:hover{
	opacity: .5;
	color: grey;
}

a.Elmar:hover{
	opacity: .5;
	color: grey;
}

a.Cara:hover{
	opacity: .5;
	color: grey;
}

a.Quinn:hover{
	opacity: .5;
	color: grey;
}